rsna-intracranial-aneurysm-detection/segmentations/
venv/
rsna-intracranial-aneurysm-detection/series/
rsna-intracranial-aneurysm-detection/kaggle_evaluation/series/
processed_data/
processed_data_v2/
processed_data_npy/
processed_data_mra_v1/
aneurysm_dataset_manifests_hdf5/
output_slices_mr_from_hdf5/