rsna-intracranial-aneurysm-detection/segmentations/
venv/
rsna-intracranial-aneurysm-detection/series/
rsna-intracranial-aneurysm-detection/kaggle_evaluation/series/
processed_data/
output_slices/
processed_data_v2/